main {
  margin: 0 auto;
  max-width: 1200px;
  nav ul {
    display: flex;
    height: max-content;
    gap: 1rem;
    list-style-type: none;
  }
  .cocktails {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    article {
      width: 250px;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
